<%- include('partials/header') %>
<%- include('partials/navbar') %>
<h1 style="color: white;">Work in Progress</h1>
<%- include('partials/navbar2') %>

<div class="container" style="background: white; border-radius: 1em;">

    <div class="row" style="padding: 10px;">
        <div class="col-5" style="border-bottom-left-radius: 6em;">
            <img class="border" src="images/product_img_1.jpg" style="width: 100%;">
            <div class="row" style="margin-top: 20px;">
                <div class="col">
                    <button id="purchase"><i class="fas fa-cart-plus"></i> ADD TO CART</button>
                </div>
                <div class="col">
                    <button id="purchase"><i class="fas fa-money-bill-wave"></i><a href="/checkOut" style="color: white; text-decoration: none;"> BUY NOW</a></button>
                </div>
            </div>
        </div>
        
        <div class="col-7" style="color: #494949;">
            <h4>pTron Ultra 4D Dual Driver Wireless Earbuds</h4>
            <span class="rounded ratingTag">4.3<i class="fas fa-star"></i></span>
            <span>378 ratings</span>
            <span class="rounded verified"><i class="fas fa-calendar-check"></i> Verified</span><br>
            <span style="font-size: 3em; margin-bottom: 20px;">₹1599</span>
            <span style="text-decoration: line-through; color: #919191;">₹2999</span>
            <span style="color: green; font-size: 1.5em;">47% off</span>

            <div>
                <h4 class="heading">Available offers</h4>
                <ul style="list-style-type: none;">
                    <li><i class="fas fa-tags"></i> Bank Offer5% Unlimited Cashback on Dash Bank Credit Card, <a href="">T&C</a> applicable</li>
                    <li><i class="fas fa-tags"></i> Bank Offer10% Off on First time Dash Credit Card transaction, <a href="">T&C</a> applicable</li>
                    <li><i class="fas fa-tags"></i> Combo OfferBuy 2 items save 5%;Buy 3 or more save 10%See all products, <a href="">T&C</a> applicable</li>
                </ul>
            </div>

            <div>
                <h4 class="heading">Services</h4>
                <ul style="list-style-type: none;">
                <li><i class="serviceIcons fas fa-shield-check"></i> 1 Year Warranty Provided by the Manufacturer</li>
                <li><i class="serviceIcons fas fa-sync-alt"></i> 7 Days Replacement Policy</li>
                <li><i class="serviceIcons fas fa-rupee-sign"></i> Cash on Delivery available</li>
            </div>

            <div>
                <h3 class="heading">Specifications</h3>
                <div class="row border" style="padding-left: 20px;">
                    <div class="col-4">
                        <p>Product Dimensions</p>
                        <p>Audio Jack</p>
                        <p>Colour</p>
                        <p>Item Weight</p>
                        <p>Others</p>
                    </div>
                    <div class="col-8">
                        <p>120 x 0.8 x 0.8 cm</p>
                        <p>3.5 mm</p>
                        <p>Dark Blue</p>
                        <p>20 g</p>
                        <p>Details</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<h5 style="opacity: 0;">setup</h5>
<%- include('partials/footer') %>
